{
  "ServiceManager": {
    "services": {
      "json-parser": {
        // Test
        "enabled": false,
        "className": "com.ap.services.parser.JSONParser$JacksonParser",
        "lookup-details": {
          "name": "jackson-parser",
          "version": "1.0"
        },
        "configuration-name": "default-jackson-parser",
        "singleton": "NAME",
        "handle-multiple-instance": "ERROR"
      },
      "jndiConnectionManager": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.ldap.JNDIConnectionManager",
        "singleton": "CLASS",
        "handle-multiple-instance": "IGNORE"
      },
      "dataSource": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.sql.DataSourceConnectionManager",
        "configuration-name": "DatasourceService",
        "lookup-details": {
          "name": "dataSource",
          "version": "1.0"
        },
        "singleton": "CLASS",
        "handle-multiple-instance": "IGNORE",
        "dependencies" : ["connectionServiceFactory"]
      },
      "databaseConnectionManager": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.sql.DatabaseConnectionManager",
        "configuration-name": "DatabaseConnectionManager",
        "lookup-details": {
          "name": "database",
          "version": "1.0"
        },
        "singleton": "CLASS",
        "handle-multiple-instance": "IGNORE"
      },
      "connectionServiceFactory": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.ConnectionServiceFactory",
        "configuration-name": "ConnectionManager:1.0",
        "singleton": "CLASS",
        "handle-multiple-instance": "IGNORE"
      },
      "SQLService": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.sql.SQLOperationService",
        "lookup-details": {
          "name": "SQLService",
          "version": "1.0"
        },
        "configuration-name": "ApplicationDatabase",
        "singleton": "NAME",
        "handle-multiple-instance": "ERROR",
        "dependencies" : ["connectionServiceFactory"]
      },
      "LDAPService": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.ldap.LDAPOperationService",
        "lookup-details": {
          "name": "LDAPService",
          "version": "1.0"
        },
        "configuration-name": "Directory",
        "singleton": "NAME",
        "handle-multiple-instance": "ERROR",
        "dependencies" : ["connectionServiceFactory","transformationUtils"]
      },
      "transformationUtils": {
        "enabled": false,
        "className": "com.ap.services.transform.TransformService",
        "singleton": "CLASS",
        "handle-multiple-instance": "REPLACE"
      },
      "RESTService": {
        "enabled": false,
        "className": "com.ap.services.targetSystem.rest.RESTOperationService",
        "lookup-details": {
          "name": "RESTService",
          "version": "1.0"
        },
        "configuration-name": "RESTAPI",
        "singleton": "NAME",
        "handle-multiple-instance": "ERROR",
        "dependencies" : ["transformationUtils"]
      }
    }
  },
  "default-jackson-parser": {
    "serialization-features": {
      "INDENT_OUTPUT": true
    },
    "json-parser-features": {
      "ALLOW_COMMENTS": true,
      "ALLOW_YAML_COMMENTS": true,
      "ALLOW_UNQUOTED_CONTROL_CHARS": true,
      "ALLOW_BACKSLASH_ESCAPING_ANY_CHARACTER": true
    }
  },
  "ConfigurationService": {
    "override": true,
    "service-init-sequence": {
      "org.grimps.service.config.internal.FileLocationPlugin" : [
        "org.grimps.service.config.internal.SystemPropertyFileLocation",
        "org.grimps.service.config.internal.ConfigurationFileLocationPlugin"
      ],
      "org.grimps.service.config.ConfigurationUpdatePlugin" : [
        "com.ap.services.config.plugins.JavaResourceBasedUpdatesPlugins",
        "com.ap.services.config.plugins.FileUpdatePlugins"
      ],
      "org.grimps.service.config.KeywordReplacementPlugin" : [
        "com.ap.services.config.plugins.SystemPropertyKeywordReplacement",
         com.ap.services.config.plugins.WeblogicCredentialKeywordReplacement"
      ]
    }
  },
  "ConnectionManager:1.0": {
    "connectionManagers": {
      "SQL-Database": {
        "type": "CLASS",
        "class": "com.ap.services.targetSystem.sql.DatabaseConnectionManager"
      },
      "SQL-DataSource": {
        "type": "CLASS",
        "class": "com.ap.services.targetSystem.sql.DataSourceConnectionManager"
      },
      "javax.naming.directory": {
        "type": "CLASS",
        "class": "com.ap.services.targetSystem.ldap.JNDIConnectionManager"
      },
      "javax.naming.ldap": {
        "type": "CLASS",
        "class": "com.ap.services.targetSystem.ldap.JNDIConnectionManager"
      }
    }
  },
  "DatasourceService": {
    "jndi-connection-details": {
      "connection-type": "javax.naming.directory",
      "connection-properties": {
        //"java.naming.factory.initial" : "weblogic.jndi.WLInitialContextFactory",
        //"java.naming.provider.url" : "@@release.configuration.oim-connection-url@@",
        //"java.naming.security.authentication" : "simple"
      },
      "connection-system-properties": {
      },
      "connection-credential": {
        //"source" : "local",
        // Set if source=custom
        // "source-class" : ""
        // Supported values: text, base64, encrypt
        //"source-encoding" : "text",
        //"user-id" :"@@release.configuration.soa-connection-admin-user-id@@",
        //"user-password" : "@@release.configuration.soa-connection-admin-password@@"
      },
      "connection-id": "Application server JNDI Connection"
    },
    "data-sources": {
    }
  },
  "DatabaseConnectionManager": {
    // "default-database" :"",
    "databases": {
    }
  }
}